body {
    background-image: linear-gradient(to bottom, #10499f, #1856a5, #2463ab, #326faf, #427bb3);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
    overflow-x: hidden;
}

footer {
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

input {
    margin: 10px 0;
}

.log-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebeeef;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    padding: 20px;
    transition: transform 0.3s ease;
}
.log-card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.align-control {
    margin: 0; 
}

label {
    color: #666;
    font-family: opensans-regular,helvetica,arial,sans-serif;
}

.data-collect {
    border-right: 2px solid #ccc;
    margin-bottom: 30px;
}

.data-display {
    margin-bottom: 30px;
}

.chart {
    width: 100%;
    height: auto;
}

.most-frequent {
    color: #f96d00;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px #888;
}

.radio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px 1px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
